@media screen and (min-width:1200px) and (min-height:400px) {

body {
    background-color: #fff0ad;
}

.nav_links {
    list-style-type: none; /* removes the link effect*/
    margin:0px;
    padding:0px;
    width:120px;
    background-color: #ffe3a0;
    text-align: center;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 5px solid #8a0000;
    font-size: 20px;
    height: 100%;
    position: absolute; /* the nav bar will stay in place on screen*/
    overflow: auto;
    top:5px;
}

.nav_links a {
    display: block;
    color: #8a0000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav_links a:hover {
    background-color: #8a0000;
    color: white;
}

/*Styling specific texts/texts */
#subtitle {
    font-size: 40px;
}

#pizzaname {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;;

    font-size: 40px;
}

#list_title {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;;
    font-size: 30px;
}

#list_text {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 25px;
}

#base-title {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    position: relative;
    margin-left: 39%;
    font-size:60px;
}

h2 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    display:flex;
    justify-content: center;
    font-size:60px;
}

#pizzatype_text {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-decoration: underline;
    font-size: 20px;
    text-decoration-color: rgb(0, 0, 0) ;
}

.pizzaform{
    
    border:#8a0000 solid;
    margin-left: 140px;
}

.menu_border {
    border-color: 5px solid #8a0000;
}


.pizzaoption {
    border: #8a0000 groove;
    padding: 5px 0px 0px 20px;
    margin: 20px;
    position: relative;
    display: inline-block;
    display:flex;
    align-content: center;
    cursor:pointer;
}


/* Styling image size */
#img {
    width: 80%;
    height: 80%;
}


/* Styling for the tabs so they work like tabs */

    /* spacing the tabs */
.tab_select {
    display: flex;
    gap: 8px;
    margin-bottom: 5px;
}

.tab_radio {
    display: none;
}

.tab_content {
    display:none;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    align-items: start;
    padding:20px;
}

.tablink {
    padding: 8px 14px;
    background-color: #ab5f5f;
    border: 2px solid #720000;
    cursor: pointer;


    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: azure;
    position: relative;
    margin: 0px 0px 0px 25px;
}

.tab_radio:checked + .tablink{ /*Shows the tab link as activated  */
    background-color: #9e3a26;
    font-weight: bold;
}


/* form styling for drinks */


#submit_button  {
    background-color: #ab5f5f;
    padding:10px 7px;
    color: azure;
    font-size: 15px;
    cursor: pointer;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    border:#720000 solid;
}

#drink_selectshow {
    background-color: antiquewhite;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* This is for each tab div to show itself when selected */
.tab_select:has(#tab-1:checked) ~ .tab_content_div .content_1,
.tab_select:has(#tab-2:checked) ~ .tab_content_div .content_2,
.tab_select:has(#tab-3:checked) ~ .tab_content_div .content_3,
.tab_select:has(#tab-4:checked) ~ .tab_content_div .content_4,
.tab_select:has(#tab-5:checked) ~ .tab_content_div .content_5,
.tab_select:has(#tab-drink:checked) ~ .tab_content_div .content_drink   {
    display: grid;
}
.description  {
    width: 200px;
}
}