{%  extends "base.html" %}

{% block title %} About - Dream Pizzas {% endblock %}
{% block content %}
<!-- About dream pizzas introdutcion -->
    <div class="introduction">
        <h1> About Dream Pizzas </h1>
        <p> Welcome to Dream Pizzas. <br>
            Our buisness is to sell dreamy cheesy pizzas to our beloved customers

        </p>
    </div>
    <br>
    <!-- The contact information display -->
    <div class="information">
        <div id="number">
        <p> <b id="enlargen">Number:</b> 012 345 6789 </p>
        </div>
        <div >

        </div>

    </div>
{% endblock %}
