{%  extends "base.html" %}

{% block title %} About - Dream Pizzas {% endblock %}
{% block content %}
<!-- About dream pizzas introdutcion -->
    <div class="introduction">
        <h1> About Dream Pizzas </h1>
        <p> Welcome to Dream Pizzas. <br>
            Our buisness is to sell dreamy cheesy pizzas to our beloved customers
        </p>
        <p> Our motto is<b id="motto"> If you dream it, we will pizza it </b> </p>
    </div>
    <br>
    <!-- The contact information display -->
    <div class="information">
        <p id="enlargen1"> For any queries</p>

        <div id="number">
        <p> <b id="enlargen">Number:</b> <b id=detail> 012 345 6789 </b> </p>
        </div>
        <div id="email">
            <p> <b id="enlargen"> email us at:  </b> <b id="detail">Dreampizzas@gmail.com</b> </p>
        </div>
        <div id="address">
            <p> <b id="enlargen">find us at: </b> <b id="detail"> 12, That Lane, FlatHedge, Auckhere</b></p>
        </div>

    </div>
{% endblock %}
