<!DOCTYPE html>
<head>
<html lang="en">

    <!-- <head> The information for the site to pull style and stuff from -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Dream Pizzas{% endblock %}</title>

</head>
<body>
    <header>
        <!-- The sub head for the store -->
        <h1 id="mainhead" id="title">Dream Pizzas</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{url_for('about') }}">About</a>
            <a href="{{ url_for('your_cart') }}">Order History</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy;Dream Pizzas</p>
    </footer>
</body>
</html>